header > nav a {
  min-width: 75px;
}

header .carousel img {
  height: 200px;
  object-fit: cover;
}

.text-shadow-black {
  text-shadow: 4px 4px 3px black;
}

.fit-cover-sm {
  height: 150px;
  object-fit: cover;
}

.fit-cover {
  object-fit: cover;
}

.bg-gradient-pink {
  background: rgb(217, 3, 104);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(98, 2, 48, 1) 50%,
    rgba(217, 3, 104, 1) 100%
  );
}

.bg-pink {
  background-color: rgb(217, 3, 104);
}
.btn-pink {
  background-color: rgb(217, 3, 104);
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  color: white;
}
.btn-pink:hover {
  background-color: rgb(184, 3, 90);
}
.text-pink {
  color: rgb(217, 3, 104);
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: black !important;
}
.active {
  color: black !important;
}
